@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Geologica:wght@100..900&family=Indie+Flower&family=Joti+One&family=Luckiest+Guy&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Geologica:wght@100..900&family=Indie+Flower&family=Joti+One&family=Luckiest+Guy&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    display: grid;
    height: 100%;
    position: relative;
    color: var(--body-text);
    /* overflow-x: hidden; */
}

#nav-placeholder {
    top: 0;
    height: fit-content;
    position: sticky;
    z-index: 1000;
    grid-column: 1;
    grid-row: 1;
    margin-top: 50px;
}

#main {
    width: 100%;
    max-width: 800px;
    display: grid;
    /* color: white; */
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.content {
    text-align: center;
    margin: 5% 0 5% 0;
}

.title {
    font-size: clamp(3rem, 8vw, 5rem);
    font-weight: 800;
    font-family: 'Wendy One', sans-serif;
    letter-spacing: clamp(-1.75px, -0.25vw, -3.5px);
    position: relative;
    overflow: hidden;
    color: var(--aurora-color);
    -webkit-text-stroke: var(--aurora-stroke);
    background: var(--bg);
    margin: 0;
}

.aurora {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    mix-blend-mode: darken;
    pointer-events: none;
    display: var(--aurora);
}

.aurora__item {
    overflow: hidden;
    position: absolute;
    width: 60vw;
    height: 60vw;
    background-color: #00c2ff;
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    filter: blur(1rem);
    mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
    top: -50%;
    animation: aurora-border 6s ease-in-out infinite,
        aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
    background-color: #ffc640;
    right: 0;
    top: 0;
    animation: aurora-border 6s ease-in-out infinite,
        aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
    background-color: #33ff8c;
    left: 0;
    bottom: 0;
    animation: aurora-border 6s ease-in-out infinite,
        aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
    background-color: #e54cff;
    right: 0;
    bottom: -50%;
    animation: aurora-border 6s ease-in-out infinite,
        aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
    0% {
        top: 0;
        right: 0;
    }

    50% {
        top: 100%;
        right: 75%;
    }

    75% {
        top: 100%;
        right: 25%;
    }

    100% {
        top: 0;
        right: 0;
    }
}

@keyframes aurora-2 {
    0% {
        top: -50%;
        left: 0%;
    }

    60% {
        top: 100%;
        left: 75%;
    }

    85% {
        top: 100%;
        left: 25%;
    }

    100% {
        top: -50%;
        left: 0%;
    }
}

@keyframes aurora-3 {
    0% {
        bottom: 0;
        left: 0;
    }

    40% {
        bottom: 100%;
        left: 75%;
    }

    65% {
        bottom: 40%;
        left: 50%;
    }

    100% {
        bottom: 0;
        left: 0;
    }
}

@keyframes aurora-4 {
    0% {
        bottom: -50%;
        right: 0;
    }

    50% {
        bottom: 0%;
        right: 40%;
    }

    90% {
        bottom: 50%;
        right: 25%;
    }

    100% {
        bottom: -50%;
        right: 0;
    }
}

@keyframes aurora-border {
    0% {
        border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }

    25% {
        border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
    }

    50% {
        border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
    }

    75% {
        border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
    }

    100% {
        border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
}

.overview {
    line-height: 2rem;
    font-size: clamp(1.2rem, 5vw, 1.5rem);
    color: var(--body-text);
    font-family: "Edu VIC WA NT Beginner", sans-serif;
    text-align: justify;
}

.heading {
    font-family: 'Wendy One', sans-serif;
    font-size: clamp(2rem, 5vw, 3rem);
    color: var(--title);
    -webkit-text-stroke: .5px var(--title-border);
    margin: 5% 0 5% 0;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.features div {
    background: #ffb7529f;
    color: var(--feature);
    border-radius: 12px;
    padding: 20px;
    transition: all 0.4s ease;
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.features div:hover {
    transform: translateY(-10px);
    color: black;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.features div:nth-of-type(1):hover {
    background: linear-gradient(135deg, #e2a9e5 15%, #2b94e5 100%);
}

.features div:nth-of-type(2):hover {
    color: var(--feature-hover);
    background: linear-gradient(135deg, #632c65 15%, #56a5e2 100%);
}

.features div:nth-of-type(3):hover {
    color: var(--feature-hover);
    background: linear-gradient(135deg, #4b384c 15%, #da5de2 100%);
}

.features h2 {
    font-family: "Joti One", sans-serif;
}

.features p {
    text-align: justify;
    font-size: 1.2rem;
    font-family: "Edu VIC WA NT Beginner", sans-serif;
}

.container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    border: 2px solid var(--box-border);
    line-height: 0;
}

.box>img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center center;
    transition: .5s;
}

.box:hover {
    flex: 1 1 50%;
}

.box:hover>img {
    width: 100%;
    height: 300px;
}

.lightbox {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: zoom-out;
}

.lightbox img {
    max-width: 90vw;
    max-height: 80vh;
    border: 4px solid white;
    border-radius: 8px;
}

.dark-table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Edu VIC WA NT Beginner", sans-serif;
    color: var(--body-text);
    border: 1px solid var(--table-border);
}

.dark-table th,
.dark-table td {
    padding: 12px 16px;
    text-align: center;
}

.dark-table thead {
    background-color: var(--thead);
}

.dark-table tbody tr:nth-child(even) {
    background-color: var(--tr-even);
}

.dark-table tbody tr:nth-child(odd) {
    background-color: var(--tr-odd);
}

.dark-table th {
    font-weight: bold;
}

.collaborators .container {
    position: relative;
    display: flex;
    row-gap: 3rem;
    width: 100%;
    justify-content: center;
}

.profile {
    width: 30%;
    position: relative;
    transition: all 0.3s;
}

.profile:hover {
    transform: translateY(25px);
}

.profile img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid #f7f7f7;
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.profile .name {
    position: absolute;
    color: #fff;
    font-family: "Bebas Neue", cursive;
    padding: 15px 30px;
    border-radius: 100px;
    bottom: -30px;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50px);
    letter-spacing: 1px;
    font-size: clamp(1rem, 5vw, 1.5rem);
    opacity: 0;
    transition: all 0.3s;
}

.profile:nth-of-type(1) span {
    background: linear-gradient(to bottom, #9f6ec9 15%, #042eab 100%);
}

.profile:nth-of-type(2) span {
    background: linear-gradient(to bottom, #FFA01B 15%, #E8476A 100%);
}

.profile:nth-of-type(3) span {
    background: linear-gradient(to bottom, #03a429 15%, #ffdc51 100%);
}

.profile .name::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.profile:nth-of-type(1) span::before {
    background: #9f6ec9;
}

.profile:nth-of-type(2) span::before {
    background: #FFA01B;
}

.profile:nth-of-type(3) span::before {
    background: #03a429;
}

.profile img:hover+.name {
    opacity: 1;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}

#button-container h1 {
    font-size: clamp(1rem, 5vw, 2rem); font-family: 'Joti One', sans-serif;
}

@media (min-height: 2800px) {
    body {
        height: 100vh;
    }
}

@media (max-width: 900px) {
    #nav-placeholder {
        margin-top: 0;
    }
}

@media (max-width: 635px) {
    .profile .name {
        opacity: 1;
        bottom: -70px;
        padding: 10px 20px;
    }

    .profile:hover {
        transform: none;
    }

    .profile img {
        pointer-events: none;
    }
}